$red-accent: rgb(207, 0, 0);
$red-clicked: rgb(56, 21, 21);

.add-password-container {
  width: 100%;
  margin-top: 50px;
  padding: 1px;

  &--w100 {
    width: 100%;
  }

  &--w90 {
    width: 100%;
  }

  &--title {
    margin-top: 50px;
    font-size: 35px;
    color: $red-accent;
    font-weight: bold;
    text-align: center;
  }

  &--input {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--input-bar {
      width: 100%;
      padding: 15px 10px;
      border: none;
      font-size: 17px;
      border: solid 1px white;
      border-bottom: 1px solid $red-accent;
      transition: all 0.3s ease-in-out;

      &:focus {
        outline: none;
        border: 1px solid red;
        border-radius: 4px;
      }
    }
  }

  &--widget {
    &--widget-title {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 25px;
    }

    &--widget-card {
      width: 100%;
      padding: 12px 10px;
      margin-bottom: 15px;
      text-align: center;
      color: white;
      border-radius: 7px;
    }
  }

  &--add-password-btn {
    // margin-top: 40px;
    border: none;
    font-size: 18px;
    width: auto;
    height: 40px;
    background-color: $red-accent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;

    &:hover {
      box-shadow: 3px 3px 9px 1px rgba(51, 51, 51, 0.5);
    }

    &:active {
      background-color: $red-clicked;
    }
  }

  &--add-password-btn-delete {
    // margin-top: 40px;
    border: none;
    font-size: 18px;
    width: auto;
    height: 40px;
    background-color: rgb(49, 49, 49);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;

    &:hover {
      box-shadow: 3px 3px 9px 1px rgba(51, 51, 51, 0.5);
    }

    &:active {
      background-color: $red-clicked;
    }
  }

  &--add-password-btn-back {
    // margin-top: 40px;
    border: none;
    font-size: 18px;
    width: auto;
    height: 40px;
    background-color: rgb(28, 63, 177);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;

    &:hover {
      box-shadow: 3px 3px 9px 1px rgba(51, 51, 51, 0.5);
    }

    &:active {
      background-color: $red-clicked;
    }
  }
}
